<div class="animated fadeIn">
   <div class="row">
      <div class="badges">
         <div class="col-lg-6">
            <div class="card">
               <div class="card-header">
                  <strong>Tự động đổi hình nền</strong>
               </div>
               <div class="card-body">
                  <p>Khi bật tính năng này, hình nền sẽ tự động được chọn từ các nguồn internet hoặc trên
                     máy theo như cài đặt của bạn
                  </p>
                  <label class="switch switch-text switch-success"><input type="checkbox" id="setting.AutoWallper" class="switch-input"> <span data-on="On" data-off="Off" class="switch-label"></span> <span class="switch-handle"></span></label>
               </div>
            </div>
            
      </div>
      <div class="col-lg-6">
            <!-- /# card -->
            <div class="card">
               <div class="card-header">
                  <strong>Sử dụng hình trong máy</strong>
               </div>
               <div class="card-body">
                  <p>Bật tính năng này, ứng dụng sẽ sử những hình ảnh có sẵn trong máy tính của bạn để
                     làm hình nền.
                  </p>
                  <label class="switch switch-text switch-success"><input type="checkbox" id="setting.LocalWallperSource" class="switch-input"> <span data-on="On" data-off="Off" class="switch-label"></span> <span class="switch-handle"></span></label>
               </div>
            </div>
      </div>
      </div>
      <!-- .badges -->
   </div>
